.header-container {
  background-color: rgb(11, 34, 11);
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  position: fixed;
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.hsec2, .hsec1, .hsec3 {
  align-content: center;
  font-size: 15px;
}

.img-logo {
  position: absolute;
  width: 100px;
  margin-left: 25px;
  cursor: pointer;
  padding: 4px;
  left: -20px;
}

.img-logo:hover, .cart-div:hover {
  border: 1px solid white;
  cursor: pointer;
}

.img-cart {
  width: 55px;
}

.para1 {
  display: inline-block;
  margin-right: 20px;
  font-weight: bolder;
}

.input-search {
  font-size: 18px;
  padding: 10px 10px;
  padding-right: 25pc;
  align-content: center;
  border-radius: 7px;
  border: 1px solid goldenrod;
  border-radius: 9px;
}

@media (width< 1100px) {
  .input-search {
    padding-right: 10pc;
  }
}

@media (width< 900px) {
  .input-search {
    padding: 10px 10px;
  }
}

.search-div {
  position: relative;
}

.search-btn img {
  width: 26px;
  border-radius: 0px 7px 7px 0px;
  align-self: center;
  padding: 8px 10px;
  right: 18px;
  background-color: goldenrod;
  top: 0;
  position: absolute;
}

.cart-div {
  display: inline-block;
  margin-right: 10px;
  padding: 8px;
}

.cart-icon {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.cart-icon div {
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  top: 2px;
  right: 18px;
  color: goldenrod;
}

.cart-title {
  display: inline;
  font-size: 15px;
  font-weight: bold;
  padding-right: 20px;
}

.hidden-img {
  position: relative;
  visibility: hidden;
  width: 30px;
}

@media (width < 450px) {
  .header-container {
    height: 60px;
  }
  
  .img-logo {
    visibility: hidden;
    position: absolute;
  }

  .hidden-img {
    visibility: visible;
  }

  .input-search {
    padding: 5px;
    font-size: 18px;
    width: 170px;
  }

  .search-btn img {
    width: 16px;
    right: 18px;
    top: 0;
  }

  .hsec3 {
    display: grid;
    grid-template-columns: auto auto;
  }

  .hsec3 div {
    align-self: center;
    font-size: 10px;
  }

  .hsec3 p {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

  .cart-div {
    display: grid;
    grid-template-columns: auto auto;
  }

  .cart-icon {
    width: 10px;
  }

  .cart-icon div {
    font-size: 15px;
    font-weight: bold;
    top: 2px;
    right: -25px;
  }

  .cart-title {
    visibility: hidden;
  }
}
